body {
    background-color: #ffc0cb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h3 {
    color: #014421;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #FFD700;
}

h2, p, li {
    font-size: 16px;
    line-height: 1.5;
}

.myDiv{
    background-color: #c4a484;
    padding: 5px 10px;
    border-radius: 5px;
}

.mission-statement {
    color:#559afb;
    font-size: 16px;
}

#special-note {
    font-weight: bold;
    color: #8B0000;
    border: 2px dashed #000000;
    padding: 10px;
    background-color: #fff3cd;
}

.button_1 {
    background-color: #FFD700;
    cursor: pointer;
}

.button_1:hover {
    background-color: #69ff7d;
    color: white;
}