* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   background-color: #cc68ab;
   color: #d4c4d0;
}

header {
   background-color: rgb(227, 224, 226);
   padding: 20px;
   text-align: center;
}

header h1 {
   color: rgb(215, 17, 133);
   font-size: 28px;
}

#container {
   display: grid; 
   grid-template-columns: 200px 1fr; 
   gap: 15px
   padding 20px; 
   background-color: #ff1e9a; 
} 
#sidebar {
   background-color: #141010;            
   padding: 15px;                        
   border-radius: 10px;                 
}

#sidebar h2 {
   font-size: 18px;                      
   margin-bottom: 15px;                  
   color: #FFD700;                       
}

#sidebar ul {
   list-style-type: none;                
}

#sidebar li {
   margin: 10px 0;                       
}

#sidebar a {
   text-decoration: none;                
   color: #e1e8ee;                       
   font-size: 16px;
}

#sidebar a:hover {
   text-decoration: underline;          
   color: #ffffff;         
}               

#content {
   display: flex;                        
   grid-template-columns: 1fr 1fr;      
   grid-template-rows: 1fr 1fr;          
   gap: 15px;                            
}

#content section {
   background-color: #c8cdd1;            
   padding: 50px;                        
   text-align: center;                  
   color: rgb(17, 12, 12);                         
   font-size: 18px;                      
   border: 3px solid rgb(12, 9, 9);              
   border-radius: 5px;                   
   font-weight: bold;
}

#screenshots {
   padding: 30px 20px;
   background-color: #2c2c2c;
}

#screenshots h2 {
   color: #FFD700;                       
   text-align: center;
   font-size: 24px;
   margin-bottom: 30px;
}

.screenshot-container {
   background-color: #3a3a3a;            
   margin: 20px auto;
   max-width: 700px;
   padding: 20px;
   border-radius: 10px;                  
   border: 2px solid #4da6ff;            
}

.screenshot-container img {
   width: 100%;                          
   height: auto;                         
   border: 3px solid #f3eed2;            
   margin-bottom: 15px;
   display: block;                       
}

.screenshot-container p {
   color: #cccccc;                       
   line-height: 1.6;                     
   font-size: 16px;
   text-align: left;
}


footer {
   background-color: lightblue;          
   padding: 20px;                      
   text-align: center;                   
   border-top: 3px solid #b7c6d5;        
}

footer p {
   color: black;                         
   font-size: 16px;
}
@media (max-width: 768px) { 
   #container {
      grid-template-columns: 1fr;        
   }
}
   #content {
      grid-template-columns: 1fr;        
   }
   
   .screenshot-container {
      max-width: 100%;                   
   } 
