

body{
    font-family: Arial;
    font-size: 17pt; 
    color: #311231; 
    background-color: rgb(51, 44, 44);
    margin: 0;
   padding: 20px;  
}

header {
   text-align: center;
}

header > img {
   width: 100%;
   max-width: 1000px;
   height: auto;
}
h1 {
   font-size: 3rem;
   text-align: center;
}

h2 {
   font-size: 2.5rem;
}
#dishes ul {
   list-style-type: circle;
   margin: 0;
   padding-inline-start: 12px;
}
.dish {
   display: flex;
   flex-direction: row;
   margin-bottom: 30px;
}

.dish img {
   margin-right: 20px;
   margin-bottom: 10px;
}

footer {
   margin-top: 40px;
}
#directions {
   display: none;
}

/* Tablet */  
@media all and (min-width: 600px) {
   .dish {
      flex-direction: column;
   }
}

/* Desktop */
@media all and (min-width: 800px) { 
   .dish {
      flex-direction: row;
   }
   .dish ul {
      display: none; 
   }
}  

/* Mobile */
@media all and (max-width: 599px) {
   #dishes {
      display: none;
   }
   footer {
      display: none;
   }
   #directions {
      display: block;
   }
}






