*{ 
    margin: 0px; 
    padding: 0px; 

}

Body{ 
    text-align: center; 

}
body {
    background-image: url("aboutback.jpg");
    position: relative;
    min-height: 100vh;
    
}

nav{ 
 width: 100%; 
 height: 30px; 
 background-color: rgb(246, 87, 111) 
}

nav ul li { 
 list-style: none;
 display: inline-block; 
 padding: 0px 15px; 

}
nav ul li a { 
    text-decoration: none;
    font-size: 16px; 
    font-family: Cambria;
    font-weight: bold;
    color: rgb(106, 52, 52);
}

ul li a:hover { 
    color: lightpink; 
    background-color: blueviolet;
}

ul li a:active { 
    color: rgb(250, 54, 201); 
}

#aboutcontainer {
    width: 110%;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.5;
    text-align:center;
    background-color: pink;
    padding: 60px;
    font-family: Georgia;
    font-size: 30px;
    color: rgb(235, 118, 118);

    
    
}

.boxcontainer1 { 
      width: 60px; 
    Height: 60px; 
}


#about-container{ 
     background-color: pink; 
    align-self: center;
   
}

#container {
    height: 330px; 
    border: solid 2px; 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.box{ 
    width: 240px; 
    Height: 240px; 
     transition: transform 0.3s;

}
.box:hover {
    transform: translateY(20px) scale(1.1);
} 

#box1 { 
    background-color: rgba(209, 157, 47, 0.597);
    background-image: url(burnaboy.jpg);
    background-size: cover;
    align-self: center;
    margin:10px;

}
#box2 {
    background-color: blanchedalmond;
    background-image: url(wizkid.jpg);
    background-size: cover;
    align-self: center;
    margin:10px;
}
#box3 { 
    background-color: darksalmon;
    background-image: url(davido.jpg);
    background-size: cover;
    align-self: center;
    margin:10px; 
}
#box4 { 
    background-color: hotpink;
    background-image: url(omaylay.jpg);
    background-size:cover;
    align-self: center;
    margin:10px; 
}
#box5 { 
 background-color: lavender;
 background-image: url(Rema.jpg);
 background-size: cover;
 align-self: center;
    margin:10px;
}


Footer { 
    background-color: pink;
    position: absolute;
    bottom:0px;
    Height: 110px;
    Width: 100%;
    text-align: center; 
}
